[submodule "src/assets/images/aotw-football"]
	path = src/assets/images/aotw-football
	url = https://github.com/Akinwunmi/aotw-football

[submodule "src/assets/images/aotw-regions"]
	path = src/assets/images/aotw-regions
	url = https://github.com/Akinwunmi/aotw-regions

[submodule "src/assets/region-configs"]
	path = src/assets/region-configs
	url = https://github.com/Akinwunmi/region-configs