[submodule "src/assets/images/regions"]
	path = src/assets/images/regions
	url = https://github.com/Akinwunmi/regions

[submodule "src/assets/region-configs"]
	path = src/assets/region-configs
	url = https://github.com/Akinwunmi/region-configs